In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('./classification220926/train.csv')
dftest = pd.read_csv('./classification220926/test.csv')

x = df.iloc[:,:-1]
x1_test = df.iloc[:, :-1]
y = df.loc[:,['income']]
y1_test = df.loc[:,['income']]

In [27]:
x.drop(['no', 'education', 'native-country'], axis=1, inplace=True)
x1_test.drop(['no', 'education', 'fnlwgt', 'capital-gain', 'capital-loss', 'native-country'],
             axis=1, inplace=True)
x

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week
0,25,Private,219199,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40
1,39,Private,52978,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55
2,35,Private,196899,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50
3,64,Private,135527,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40
4,24,Private,60783,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70
...,...,...,...,...,...,...,...,...,...,...,...,...
29300,20,Private,100605,9,Never-married,Sales,Own-child,Other,Male,0,0,40
29301,21,Private,372636,9,Never-married,Sales,Own-child,Black,Male,0,0,40
29302,18,Self-emp-not-inc,258474,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40
29303,33,Private,157446,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65
29304,65,?,94809,9,Widowed,?,Not-in-family,White,Female,0,0,40

In [28]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x['workclass'] = x['workclass'].astype('category')
x['marital-status'] = x['marital-status'].astype('category')
x['relationship'] = x['relationship'].astype('category')
x['race'] = x['race'].astype('category')
x['sex'] = x['sex'].astype('category')
x['workclass'] = x['workclass'].astype('category')
age = scaler.fit_transform(x[['age']])
x['age'] = age


x1_test['workclass'] = x1_test['workclass'].astype('category')
x1_test['marital-status'] = x1_test['marital-status'].astype('category')
x1_test['relationship'] = x1_test['relationship'].astype('category')
x1_test['race'] = x1_test['race'].astype('category')
x1_test['sex'] = x1_test['sex'].astype('category')
x1_test['workclass'] = x1_test['workclass'].astype('category')

In [29]:
x = pd.get_dummies(x)
x1_test = pd.get_dummies(x1_test)
x

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male
0,-0.993857,219199,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,0.024799,52978,10,0,1721,55,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,-0.266246,196899,13,0,0,50,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,1.843829,135527,11,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,-1.066619,60783,10,0,0,70,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,-1.357663,100605,9,0,0,40,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
29301,-1.284902,372636,9,0,0,40,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
29302,-1.503186,258474,6,0,0,40,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
29303,-0.411768,157446,7,0,0,65,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
29304,1.916590,94809,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [30]:
from sklearn.model_selection import train_test_split #트레인과 test 비율 나눔
from sklearn.model_selection import cross_val_score  # k-fold cross validation

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.5,random_state=42)

In [7]:
from sklearn.linear_model import LogisticRegression


lr = LogisticRegression(random_state=42)
lr.fit(x_train, y_train)

print(lr.score(x_train, y_train))
print(lr.score(x_test, y_test))

c:\Project\AI_Source\AI_01\venv\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8172263172263172
0.8156009008394185

c:\Project\AI_Source\AI_01\venv\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [32]:
from sklearn.ensemble import AdaBoostClassifier


abc = AdaBoostClassifier(random_state=1,n_estimators = 2000,learning_rate = 1)
abc.fit(x_train, y_train) #여기서 x_train은 이미 위에서 스케일링함

print(abc.score(x_train, y_train)) #훈련 데이터
print(abc.score(x_test, y_test)) #테스트 데이터

c:\Project\AI_Source\AI_01\venv\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.88001638001638
0.864123387702177

In [31]:
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier(random_state=1,learning_rate=0.1,n_estimators = 500)
gb.fit(x_train, y_train) #여기서 x_train은 이미 위에서 스케일링함

print(gb.score(x_train, y_train)) #훈련 데이터
print(gb.score(x_test, y_test)) #테스트 데이터

c:\Project\AI_Source\AI_01\venv\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8976248976248976
0.8669214495325189

In [35]:
from sklearn.ensemble import BaggingClassifier

bc = GradientBoostingClassifier(random_state=1,n_estimators=1000)
bc.fit(x_train, y_train) #여기서 x_train은 이미 위에서 스케일링함

print(bc.score(x_train, y_train)) #훈련 데이터
print(bc.score(x_test, y_test)) #테스트 데이터

c:\Project\AI_Source\AI_01\venv\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9145509145509145
0.8643281239336654