In [140]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('./classification220926/train.csv')
dftest = pd.read_csv('./classification220926/test.csv')

x = df.iloc[:,:-1]
x1_test = df.iloc[:, :-1]
y = df.loc[:,['income']]
y1_test = df.loc[:,['income']]

In [141]:
x.drop(['no', 'education', 'fnlwgt', 'native-country'], axis=1, inplace=True)
x1_test.drop(['no', 'education', 'fnlwgt','native-country'],
             axis=1, inplace=True)
x

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week
0,25,Private,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40
1,39,Private,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55
2,35,Private,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50
3,64,Private,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40
4,24,Private,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70
...,...,...,...,...,...,...,...,...,...,...,...
29300,20,Private,9,Never-married,Sales,Own-child,Other,Male,0,0,40
29301,21,Private,9,Never-married,Sales,Own-child,Black,Male,0,0,40
29302,18,Self-emp-not-inc,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40
29303,33,Private,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65
29304,65,?,9,Widowed,?,Not-in-family,White,Female,0,0,40

In [142]:
x['workclass'] = x['workclass'].astype('category')
x['marital-status'] = x['marital-status'].astype('category')
x['relationship'] = x['relationship'].astype('category')
x['race'] = x['race'].astype('category')
x['sex'] = x['sex'].astype('category')
x['workclass'] = x['workclass'].astype('category')
x1_test['workclass'] = x1_test['workclass'].astype('category')
x1_test['marital-status'] = x1_test['marital-status'].astype('category')
x1_test['relationship'] = x1_test['relationship'].astype('category')
x1_test['race'] = x1_test['race'].astype('category')
x1_test['sex'] = x1_test['sex'].astype('category')
x1_test['workclass'] = x1_test['workclass'].astype('category')

In [143]:
x = pd.get_dummies(x)
x1_test = pd.get_dummies(x1_test)

In [144]:
from sklearn.model_selection import train_test_split #트레인과 test 비율 나눔
from sklearn.model_selection import cross_val_score  # k-fold cross validation
from sklearn.preprocessing import MinMaxScaler



x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

scaler = MinMaxScaler()

x_train[['capital-gain']] = scaler.fit_transform(x_train[['capital-gain']])
x_test[['capital-gain']] = scaler.fit_transform(x_test[['capital-gain']])
x1_test[['capital-gain']] = scaler.fit_transform(x1_test[['capital-gain']])
x_train[['capital-loss']] = scaler.fit_transform(x_train[['capital-loss']])
x_test[['capital-loss']] = scaler.fit_transform(x_test[['capital-loss']])
x1_test[['capital-loss']] = scaler.fit_transform(x1_test[['capital-loss']])

In [145]:
from sklearn.linear_model import LogisticRegression


lr = LogisticRegression(random_state=42)
lr.fit(x_train, y_train)

print(lr.score(x_train, y_train))
print(lr.score(x_test, y_test))

c:\Project\AI_Source\AI_01\venv\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.840783893140935
0.8299590536851683

c:\Project\AI_Source\AI_01\venv\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,